.reveal h2 {
	text-transform: capitalize;
}
.reveal h3 {
	text-transform: none;
}

.reveal section img.logo {
	background: none;
	border: none;
	box-shadow: none;
}

.reveal li {
	margin-bottom: 3%;
}

.highlight-orange {
    color: darkorange;
}

.highlight-blue {
    color: darkturquoise;
}